<nav [ngClass]="{
    'bg-transparent': !navbarScrolled, 
    'bg-gray-900 shadow-md': navbarScrolled 
  }"
  class="fixed top-0 left-0 w-full z-50 transition-all duration-300 ease-in-out"class=" bg-blue-700">
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between overflow-visible">

      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <button (click)="isMobileMenuOpen = !isMobileMenuOpen" type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white">
          <span class="sr-only">Abrir menú principal</span>
          <i *ngIf="!isMobileMenuOpen" class="pi pi-bars text-xl"></i>
          <i *ngIf="isMobileMenuOpen" class="pi pi-times text-xl"></i>
        </button>
      </div>

      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">
          <img class="h-8 w-auto" src="assets/img/icon.jpg"
            alt="Tu Compañía">
        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
            <a routerLink="/inicio" routerLinkActive="bg-gray-900 text-white"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Inicio</a>
            <a routerLink="/acerca-de" routerLinkActive="bg-gray-900 text-white"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Acerca de</a>
            <a routerLink="/sorteo" routerLinkActive="bg-gray-900 text-white"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Ruleta</a>
            <a routerLink="/contacto" routerLinkActive="bg-gray-900 text-white"
              class="rounded-md px-3 py-2 text-sm font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Contacto</a>
          </div>
        </div>
      </div>

      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">

        <!-- <button type="button" class="relative rounded-full bg-gray-800 p-1 text-gray-400 hover:text-white">
          <span class="sr-only">Ver notificaciones</span>
          <i class="pi pi-bell text-xl"></i>
        </button> -->

        <div class="relative ml-3">

          <div>
            <button (click)="toggleProfileMenu()" type="button"
              class="relative flex rounded-full bg-gray-800 text-sm focus:outline-none focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-800">
              <span class="sr-only">Abrir menú de usuario</span>
              <img class="h-8 w-8 rounded-full"
                src="assets/img/users.png"
                alt="">
            </button>
          </div>

          <div *ngIf="isProfileMenuOpen"
            class="absolute right-0 z-50 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
            role="menu" aria-orientation="vertical" aria-labelledby="user-menu-button" tabindex="-1">

            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Iniciar Sesión</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1">Registrarse</a>
            <a href="#" class="block px-4 py-2 text-sm text-gray-700" role="menuitem" tabindex="-1"></a>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div *ngIf="isMobileMenuOpen" class="sm:hidden">
    <div class="space-y-1 px-2 pb-3 pt-2">
      <a routerLink="/dashboard" routerLinkActive="bg-gray-900 text-white"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Dashboard</a>
      <a routerLink="/team" routerLinkActive="bg-gray-900 text-white"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Equipo</a>
      <a routerLink="/projects" routerLinkActive="bg-gray-900 text-white"
        class="block rounded-md px-3 py-2 text-base font-medium text-gray-50 hover:bg-gray-700 hover:text-white">Proyectos</a>
    </div>
  </div>
</nav>